<form [formGroup]="loginForm" class="container mt-5">
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted" *ngIf="verificaValidTouched('email')">O campo email é
            obrigatório.</small>
        <small id="emailHelp" class="form-text text-muted" *ngIf="verificaValidTouched('email')">Formato de e-mail
            inválido.</small>
    </div>
    <div class="form-group" [ngClass]="aplicaCssErro('password')">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
        <small id="emailHelp" class="form-text text-muted"
            *ngIf="verificaValidTouched('password') && registrationForm.controls['name'].hasError('minlength')">O campo
            email é
            obrigatório.</small>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>